@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Special+Elite&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* homepage */
.nvigation_bg_color {
  background-color: #d064a3;
  background-image: linear-gradient(
    225deg,
    #d064a3 0%,
    #784ba0 50%,
    #2b37c5 100%
  );
}

.homepage__font {
  font-family: "Special Elite", cursive;
  font-size: 50px;
}
/* most useful class */
.primary__width {
  @apply w-11/12 m-auto px-4;
}
.primaryBackground {
  background-color: #d05ee2;
}
.copyright {
  background-color: #ff3cac;
  background-image: linear-gradient(
    105deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  padding: 10px;
}
.boxs__hadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btnPrimary {
  @applybackground: background-color: #d064a3;
  background-image: linear-gradient(
    225deg,
    #d064a3 0%,
    #784ba0 50%,
    #2b37c5 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 15px;
}
.form__input {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.certificate-template {
  background-image: url("./assets/certificate.jpg");
  /* height: 100%; */
  width: 100%;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: center; */
}
/* media query */
@media screen and (max-width: 500px) {
  .mobile__view {
  }
  .desktop__view {
    display: none;
  }
  .mobile__logo {
    width: 40px;
    margin: 0 10px;
  }
  .humberger__menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 10px;
  }
  .logo__text {
    font-size: 12px;
  }
  .homepage__font {
    font-family: "Kolker Brush", cursive;
    font-size: 30px;
  }
  .search__button {
    width: 100%;
    margin: 20px 0;
  }
}
